* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222222;
  padding-top: 30px;
}

/* Header */

header {
  background-color: #222222;
}

.navbar-brand {
  width: 3rem;
}

.nav-link {
  color: white;
  margin-left: 3rem;
  font-weight: 300;
  position: relative;
  padding: 0 10px;
}

.nav-link:after {
  content: '';
  position: absolute;
  background-color: #f26c4f;
  height: 5px;
  width: 0%;
  left: 8px;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover:after {
  width: 50%;
}

.download-cv {
  padding: 1rem 1.5rem;
  border: 0px;
  border-radius: 4px;
  background-color: #f26c4f;
  color: white;
}

/* Hero Section */

.banner-text {
  color: white;
  font-size: 3.6rem;
  font-weight: 600;
}

.banner-text span {
  margin-right: -0.8rem;
  color: #f26c4f;
}

.hero-left p {
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
}

.contact-me {
  border: 2px solid #f26c4f;
  background: 0%;
  color: #f26c4f;
  padding: 0.6rem 3rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.contact-me:hover {
  background-color: #f26c4f;
  color: white;
  transition: 0.4s;
}

.hero-links {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hero-links img {
  width: 30px;
  margin-top: 2rem;
  color: white;
}

.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About Me Section */

.about-me {
  background-color: #262626;
  padding: 8rem 0;
  margin-top: 4rem;
}

.about-me-text {
  color: white;
  position: relative;
}

.about-me-text::after {
  content: '';
  position: absolute;
  background-color: #f26c4f;
  height: 5px;
  width: 5%;
  left: 0;
  bottom: -20px;
}

.about-me .lead {
  color: #f26c4f;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.about-me-p {
  margin: 2rem 0;
  color: #a0a0a0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
}

.about-me img {
  width: 370px;
}

/* My Services */

.my-services {
  padding-top: 6rem;
}

.services-text {
  color: white;
  position: relative;
  margin-bottom: 3rem;
}

.services-text::after {
  content: '';
  position: absolute;
  background-color: #f26c4f;
  height: 5px;
  width: 4%;
  left: 0;
  bottom: -20px;
}

.grey-card {
  padding: 0 1rem;
}

.grey-card-color {
  background-color: #262626;
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.my-services img {
  width: 100px;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.my-services .grey-card-color {
  color: white;
}

.grey-card-color p {
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1.8px;
  font-size: 12px;
  color: #a0a0a0;
}

.orange-card-color {
  background-color: #f26c4f;
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.orange-card-color img {
  width: 100px;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.orange-card-color p {
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1.8px;
  font-size: 12px;
  color: white;
}

.orange-card-color h3 {
  color: white;
}

/* My Portfoilo */
.portfolio {
  padding: 6rem 0;
}

.wrapper {
  position: relative;
}

.wrapper img {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay:hover {
  opacity: 1;
}

.free {
  position: absolute;
}

/* Footer */

.contact {
  padding: 5rem 0;
  background-color: #f26c4f;
  margin-bottom: 3rem;
}

.contact h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact span {
  color: #262626;
}

.phone {
  margin: 0.7rem 0;
}

.phone img {
  width: 30px;
  margin-right: 0.5rem;
}

.phone span {
  font-size: 1rem;
}

.email {
  margin: 0.7rem 0;
}

.email img {
  width: 30px;
  margin-right: 0.5rem;
}

.email span {
  font-size: 1rem;
}

.website {
  margin: 0.7rem 0;
}

.website img {
  width: 30px;
  margin-right: 0.5rem;
}

.website span {
  font-size: 1rem;
}

.contact-box {
  padding: 1rem;
  box-shadow: 0px 6px 11px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: #f26c4f;
  transition: opacity 0.5s ease-in-out;
}

form {
  margin: 35px;
}

.input-field {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 0;
  border-radius: 5px;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.btn {
  border: 1px solid white;
  padding: 1rem 1.5rem;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #f26c4f;
}

/* All Rights */
.allrights {
  background-color: #222222;
  color: white;
  margin: 3rem 0;
}

.allrights-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.allrights img {
  width: 20px;
  margin-right: 5px;
}

@media (max-width: 992px) {
  .hero-links img {
    display: none;
  }

  .nav-link {
    float: right;
    margin-top: 1rem;
  }

  .download-cv {
    text-align: end;
    float: right;
    margin-top: 2rem;
  }

  .nav-link:after {
    content: '';
    position: absolute;
    background-color: #f26c4f;
    height: 5px;
    width: 0%;
    left: 0px;
    bottom: -10px;
    transition: 0.3s;
  }

  .nav-link:hover {
    color: white;
  }

  .nav-link:hover:after {
    width: 50%;
  }

  .banner-text {
    text-align: center;
  }

  .lead {
    text-align: center;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    text-align: start;
  }

  .about-img {
    margin-bottom: 2rem;
    margin-top: -4rem;
  }

  .about-me {
    padding: 4rem 0;
  }

  .download-cv-about {
    float: left;
  }

  .pheno {
    margin-bottom: 2rem;
  }

  .hero-img {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .hero-img {
    width: 300px;
  }
}
